<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>{{filename}}</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.6.1/reset.min.css"
		integrity="sha512-Mjxkx+r7O/OLQeKeIBCQ2yspG1P5muhAtv/J+p2/aPnSenciZWm5Wlnt+NOUNA4SHbnBIE/R2ic0ZBiCXdQNUg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.6.1/reveal.min.css"
		integrity="sha512-1vDOkqtCXgcn0zgLIrxVjSIHvXOB/Ho2k33zwIDMqStDdHWvQyVU+BGG2fK4nnOgDbg0jEzVqzTYTL65orMyWw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.6.1/theme/black.min.css"
		integrity="sha512-Nrw40ThKwvPSYyxg6x099eplkB9p5cs2DtorDFSdpapXZlBOJDKK1Hn/gAaYuDQuas6yZJAEG2p2pYQtH80N/w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<div class="reveal">
		<div class="slides">

		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.6.1/reveal.js"
		integrity="sha512-2hNT29g1D19n9CTY54193u4EzqLqEA+qiwqsxx+LwiCxaVhGC9zzeFlvDTmHqSCxaabTxON9BxBE4tJOaMZ+iQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	{{script}}
	<script>
		// More info about initialization & config:
		// - https://revealjs.com/initialization/
		// - https://revealjs.com/config/
		document.addEventListener("DOMContentLoaded", function (event) {
			function addSlide(content = '') {
				dom = {},
					dom.slides = document.querySelector('.reveal .slides');
				var newSlide = document.createElement('section');
				newSlide.setAttribute('data-background-image', content);
				newSlide.setAttribute('data-background-size', 'contain');
				dom.slides.appendChild(newSlide);
			};
			var slide_img = slide_info["slides"];
			for (var i = 0; i < slide_img.length - 1; i++) {
				addSlide("data:image/svg+xml;base64," + slide_img[i]);
			}
			Reveal.initialize({
				hash: true,
				backgroundTransition: 'none'
			});
		});

	</script>
</body>

</html>